<header>
    <div id="logo">
        <a href="{{ site.baseurl }}">
            <img src="/assets/images/Craghead Audio Text.png">
        </a>
    </div>
    <div id="contact">
        <a href="contact.html">
            <h1 class="shadowed">Contact</h1>
        </a>
    </div>
    <div>
        <a href="works.html">
            <h1 class="shadowed">Works</h1>
        </a>
    </div>
    <div>
        <a href="about.html">
            <h1 class="shadowed">About</h1>
        </a>
    </div>
</header>