body    {
    background-image: url(/assets/images//background_main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 99%;
    font-family: Roland;
}

header  {
    /*background-color: var(--debug-background);*/
    background-image: url(/assets/images/background_header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: var(--debug-border);
    border-style: var(--debug-border-style);
    border-radius: var(--border-radius);
    min-height: 20%;
    margin-bottom: 2rem;

}

header  div {
    border-color: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: var(--border-style);

    width: fit-content;
    float: right;
    margin: 1rem;
}

header  div a   {
    text-decoration: none;
}

header  div a   h1   {
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer  {
    position: fixed;
    bottom: 0rem;
    left: 1rem;
}

footer  h3  {
    float: left;
    color: var(--copyright-color);
}

#demoVideo   {
    width: 70%;
    float: right;
    border-radius: var(--border-radius);
}

.shadowed   {
    color: var(--header-text-color);
    -webkit-text-stroke: 2px var(--shadow-color);
}

.lightShadowed  {
    color: var(--header-text-color);
    -webkit-text-stroke: 1.5px var(--shadow-color);
}

#logo   {
    /*background-color: var(--debug-background);
    border-color: var(--debug-border);
    border-style: var(--debug-border-style);*/
    background-color: var(--smoke);
    border-color: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: var(--border-style);
    width: fit-content;
    float: left;
    margin: 1rem;
}

#logo   a   img {
    height: 16%;
    padding-left: 1rem;
    padding-right: 1rem;
}

#headshot    {
    border-radius: var(--headshot-radius);
    border-color: var(--border);
    border-style: var(--border-style);
    border-width: var(--border-width);

    max-width: 30%;

    float: left;
}

#aboutText  {
    width: 50%;
    float: right;

    border-radius: var(--border-radius);
    border-color: var(--border);
    border-style: var(--border-style);
    border-width: var(--border-width);

    padding-left: 1rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#audioContainer {
    background-color: var(--smoke);
    width: 60%;
    float: right;

    border-radius: var(--border-radius);
    border-color: var(--border);
    border-style: var(--border-style);
    border-width: var(--border-width);

    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;

    margin-bottom: 1rem;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#audioContainer audio   {
    padding-left: 1rem;
    padding-top: 1rem;
}

#audioContainer h2  {
    padding-left: 2rem;
}

#audioContainer p   {
    padding-left: 3rem;
}

#audioContainer audio::-webkit-media-controls-enclosure {
  border-radius: var(--border-radius);
}

#audioContainer audio::-webkit-media-controls-panel {
  background-color: var(--background-color);
}